# GET THIS URL FROM NEON DASHBOARD --- https://console.neon.tech/app/projects/ancient-mode-32175107/branches/br-hidden-darkness-ap4xhp4j/tables?database=neondb
DATABASE_URL="postgresql://neondb_owner:paste_your_neon_URL"
JWT_SECRET="supersecretkey"
PORT=5000


#npx prisma migrate dev --name init (run this command to create the database and tables)
#npx prisma generate (run this command to generate the Prisma client)